body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.about-1{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/donation2.jpg);
}
.about-2{
 width: 100%; 
 height: 100%;  
 color: darkblue;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;   
}
.about-3{
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
}
.about-4{
    display: flex;
    margin: 100px;
}
.about-5{
    text-align: center;
}
.about-6{
    text-align: center;
    border-left: 10%;
    width: 10%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
#section-1{ 
border:2px solid blueviolet;
border-radius: 5px;
}
.about-7{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
}
footer{
    text-align: center;
}

